- content_for :styles do
  li.status .open     { background: lavender; }
  li.status .approved { background: palegreen;}
  li.status .sent     { background: paleturquoise; }
  li.status .credit   { background: bisue;}
  li.status .late     { background: pink; }
  li.status .demand   { background: red;}
  li.status .legal    { background: thistle; }
  li.status .paid     { background: skyblue; }
