.filters#filters
  = render :partial => "common/search"
  - Setting.invert(:invoice_status).each do |key, value|
    .check_box{:style => "border-bottom: 1px silver dotted;"}
      %div{:style => "float:right;"}
        = @invoice_status_total[value]
      = invoice_status_checbox(value, @invoice_status_total[value]) << " " << key
  .check_box
    %div{:style => "float:right;"}
      %b= @invoice_status_total[:all]
    %b Total Invoices
